.CreateNewUserPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-create-new-user {
  margin: 20px 0;
  width: 200px;
}

.newUser {
  display: flex;
  flex-direction: column;
}

.imageUrl, .name-employeeCode, .dob-phoneNumber, .level-startingDate, .department-position, .password-emergencyContact, .comments {
  margin-top: 8px;
}

.name, .employee-code, .dob, .phone, .level, .startingDate, .department, .position, .password, .emergencyContact {
  margin-right: 8px;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 200px;
  padding: 3px 0 3px 8px;
}

.input-comment, .input-image {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 3px 0 3px 8px;
}

.input-comment {
  width: 379px;
}

.add-user {
  margin: 16px;
}

.level {
  height: 32px;
}

#show-message {
  font-weight: 600;
  color: white;
  background-color: rgba(255, 0, 0, 0.527);
  padding: 0 5px;
  border-radius: 5px;
  margin: 10px 0 5px 0;
}

#hide-message {
  display: none;
}

#hide-img {
  display: none;
}
