* {
  margin: 0;
  padding: 0;
}

.clockInOut-header {
  margin: 20px;
}

.timesheet-employeeCode-password-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

}

.timesheet-employeeCode-input , .timesheet-password-input {
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.add-clockInOut {
  margin: 20px;
}

.radios {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

