* {
  margin: 0;
  padding: 0;
}

.UserDetailsPage {
  display: grid;
  gap: px;
}

.edit-user-btn {
  margin: 20px 0;
}

.user-img {
  display: flex;
  gap: 32px;
  margin-left: 96px;
  margin-top: 64px;
}

.info-user {
  text-align: left;
}

.info-user > p {
  margin-bottom: 4px;
}

.user-info {
  font-weight: bold;
}

.delete-user-btn {
  margin: 150px auto;
}

#no-btn {
  display: none;
}

#no-delete-btn {
  display: none;
}
