.welcome-employee-list {
  margin: 20px 0;
}

.createNewEmployee-formerEmployeeList-btns {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 20px;
}

.employee {
  text-align: left;
  margin-left: 50px;
  max-width: 1000px;
}

.employee p {
  margin-bottom: 1px;
}

.employee p:hover {
  background-color: lightgray;
  width: 1000px;
}

.employee-detail {
  font-weight: 700;
}

.link-employee-details {
  width: 1000px;
}