.user-profileImg {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 16px;
  margin: -20px 0 0 32px;
}

.welcome {
  font-weight: 300;
}

.welcome span {
  font-weight: 400;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.collaborators-img, .timesheet-img, .wh-img {
  height: 210px;
}

