.welcome-user-list {
  margin: 20px 0;
}

.createNewUser-btn{
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 20px;
}

.user {
  text-align: left;
  margin-left: 50px;
  display: flex;
  gap: 8px;
}

.user p {
  margin-bottom: 1px;
  color: black;
}

.user p:hover {
  background-color: lightgray;
  width: 1000px;
}

.user-detail {
  font-weight: 700;
}

.link-user-details {
  text-decoration: none;
}