.current-products-list {
  margin: 0 0 20px 0;
}

.createNewProducts-btn {
  margin-bottom: 20px;
}

.createNewProducts-btn a {
  text-decoration: none;
}

.single-product a {
  text-decoration: none;
  color: black;
}

.product-line {
  margin: 0 0 4px 64px;
  text-align: left;
}

.link {
  margin: 20px 0;
}

#no-newProduct-btn {
  display: none;
}

#show-product-btn {
  display: block;
  margin: auto;
}