.UserEditPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-upd-user {
  margin: 20px 0;
  width: 100px;
}

.editedUser {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-name, .edit-employee-code, .edit-level-user, .edit-department-user, .edit-dob, .edit-phone, .edit-startingDate, .edit-emergencyContact, .edit-password, .edit-position{
  border: 1px solid lightgray;
  padding: 3px 5px;
  border-radius: 5px;
  margin: 0 0 8px 8px;
  width: 220px;
}

.update-user {
  margin-top: 20px;
}

.input-checkbox {
  display: flex;
  gap: 8px;
  margin: 10px 0 10px 50px;
}

.editedImageUrl {
  display: flex;
  flex-direction: column;
}

.input-image {
  width: 150px;
}

.formerEmployee {
  font-weight: 500;
}

.image-input {
  margin-left: 50px;
}

.no-img {
  margin-bottom: 16px;
}

.edit-dob-phoneNumber {
  margin-left: 8px;
}