.CreateNewUserPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newUser {
  display: flex;
  flex-direction: column;
}

.logo-create-new-user {
  margin: 20px 0;
  width: 100px;
}

.name-user, .employee-code-user, .level-user, .department-user, .dob-user, .phone-user, .startingDate-user, .emergencyContact-user, .password-user, .position-user {
  width: 220px;
  margin-right: 8px;
}

.add-user {
  margin-top: 20px;
}

.dob-phoneNumber {
  margin: 8px 0;
}

.dob-user, .phone-user, .startingDate-user, .emergencyContact-user, .name-user, .employee-code-user, .level-user, .department-user, .password-user  {
  border: 1px solid lightgray;
  padding-left: 8px;
  height: 32px;
}

#show-message {
  font-weight: 600;
  color: white;
  background-color: rgba(255, 0, 0, 0.527);
  padding: 0 5px;
  border-radius: 5px;
  margin: 10px 0 5px 0;
}

#hide-message {
  display: none;
}

#hide-img {
  display: none;
}

.password-position {
  display: flex;
  justify-content: center;
}

.position-user {
  border: 1px solid lightgray;
  height: 33px;
  margin-top: 8px;
  padding-left: 8px;
}

.name-employeeCode {
  margin: 8px 0;
}

.password-user {
  margin-top: 8px;
}

.input-comment-user {
  margin-top: 8px;
}

.fulltime-partime {
  max-width: 350px;
}