.welcome-former-employee-list {
  margin: 20px 0;
}

.employees-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin: 16px;
}

.employee-details {
  margin-bottom: -1px;
  text-align: left;
  font-size: .9rem;
}

.employee-details-btn {
  margin-top: 16px;
}

.employee-name {
  font-size: 1.25rem;
}