.welcome-employee-list {
  margin: 20px 0;
}

.createNewEmployee-formerEmployeeList-btns {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 20px;
}

.employee-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin: 16px;
}

.employee-details {
  margin-bottom: -1px;
  text-align: left;
  font-size: .9rem;
}

.employee-details-btn {
  margin-top: 16px;
}

.employee-name {
  font-size: 1.25rem;
}

.no-img {
  font-weight: 600;
  color: white;
  background-color: rgba(255, 0, 0, 0.527);
  padding: 0 5px;
  border-radius: 5px;
  margin: 10px 0 5px 0;
}